.fc-day.fc-day-sun a {
  /* 일요일 컬러 */
  color: red !important;
}

.fc-scrollgrid.fc-scrollgrid-liquid {
  border-radius: 10px 10px 0 0;
}

.fc-col-header-cell.fc-day.fc-day-sun {
  border-radius: 8px 0 0 0;
}
.fc-col-header-cell.fc-day.fc-day-sat {
  border-radius: 0 8px 0 0;
}

.fc-theme-standard th {
  border-right: none;
}

.fc .fc-toolbar.fc-header-toolbar {
  padding: 10px 10px;

  font-size: 12px;
  font-weight: 500;
  background-color: var(--subColor2);

  border-radius: 20px;
  margin-bottom: 10px;
}

.fc .fc-button {
  background-color: #b2d1ff;
  color: var(--subColor1);
  border: none;
  outline: none;
}

/* 버튼들 눌렀을때 보기싫은 outline 정리 */
.fc-button:focus,
.fc-button:active {
  box-shadow: none !important; /* 클릭 시 생기는 그림자 제거 */
  background-color: #b2d1ff !important;
}

/* 포커스된 상태 테두리 없앰 */
.fc .fc-button-primary:focus {
  border: none !important;
  box-shadow: none;
}

/* 월, 주, 일 배경색 고정시키기 */
.fc .fc-button-primary:not(:disabled).fc-button-active {
  background-color: #b2d1ff;
}

/* 클릭 순간 테두리 없애는 중.. */
.fc .fc-button-primary:active {
  box-shadow: none;
}

.fc-direction-ltr .fc-button-group > .fc-button:not(:first-child) {
  border-radius: 30px;
}

.fc-direction-ltr .fc-button-group > .fc-button:not(:last-child) {
  border-radius: 30px;
}

.fc-today-button.fc-button.fc-button-primary:hover {
  background-color: #b2d1ff;
}

/**/
.fc .fc-today-button {
  background-color: #eceef1;
}

/* today 버튼 - 이번 달에 위치할 때 */
.fc .fc-today-button:disabled {
  display: block;
  background-color: #1e5cb9;
  color: #fff;
}

.fc-toolbar-chunk {
  margin-top: 10px;
}

.fc-toolbar-chunk:nth-child(1) > div {
  gap: 10px;
}

.fc-toolbar-chunk:nth-child(1) > div > button:nth-child(3) {
  width: 80px;
}

.fc-toolbar-chunk:nth-child(2) > div {
  display: flex;
  gap: 10px;
  line-height: 25px;
}

.fc-toolbar-chunk:nth-child(2) > div > button {
  background-color: white;
}

.fc-toolbar-chunk:nth-child(2) > div > button:active {
  box-shadow: none !important;
  background-color: white !important;
  color: black;
}
.fc-toolbar-chunk:nth-child(2) > div > button:hover {
  background-color: white;
  color: black;
}

.fc-toolbar-chunk:nth-child(2) > div > button:visited {
  background-color: white;
  color: black;
}

.fc-toolbar-chunk:nth-child(3) > div {
  gap: 30px;
}

.fc-toolbar-chunk:nth-child(3) > div > button {
  width: 80px;
}

.fc-col-header-cell.fc-day {
  /* 원하는 스타일 */
  color: #eceef1;
  text-align: left;
  border-bottom: none; /* 상단 요일 헤더 숨김 */
}

.fc-col-header-cell.fc-day {
  border-left: none;
}

.fc-scrollgrid-sync-inner {
  color: black;
  border: none;
}

tr[role="row"]:nth-child(1) {
  border-right: none;
}

.fc-daygrid-day-frame.fc-scrollgrid-sync-inner {
  border-left: none;
}
.fc-day-past.fc-daygrid-day,
.fc-day-today.fc-daygrid-day,
.fc-day-future.fc-daygrid-day {
  border-right: none;
  border-left: none;
}
.fc .fc-daygrid-day-frame {
  min-height: 90px; /* 한 칸의 최소 높이를 설정 */
}
.fc-daygrid-day-top {
  flex-direction: column !important;
}
.fc-event {
  --fc-bg-event-opacity: 1 !important;
}
